body {
  background: #f1f1f1;
  margin: 2rem;
}

h1#header {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-family: "Pacifico";
  text-shadow: 3px 5px 2px #3c77b3aa;
}

.vcard {
  width: 90%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 8px 17px 20px 8px rgba(0, 0, 0, 0.8);
  margin: 0 auto 1.6%;
  overflow: hidden;
  position: relative;
  font-size: 16px;
  line-height: 1.55em;
  height: auto;
  padding: 0px 10px 0px 0px
}
.vcard .details {
  background: #2211EE88;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  font-family: "Open Sans";
  list-style: none;
  padding: 10px 15px;
  float: right;
  width: 40%;
  padding-left: 10px;
}

.vcard .content {
   width: 60%;
  padding: 10px 15px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  float: left;
}


 .vcard .details > li {
  padding: 3px 0;
}

.vcard .details .Links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vcard .details .Links li {
  display: inline-block;
  margin-right: 3px;
}
.vcard .details a {
  color: inherit;
  border-bottom: 1px dotted;
}

  .vcard .content h1 {
  font-family: "Roboto";
  line-height: 1em;
  margin: 0 0 10px 0;
}
.vcard .content h2 {
  color: #9b9b9b;
  font-family: "Open Sans";
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  margin: 1.2% 0;
}
.vcard .content p {
  position: relative;
  margin: 0;
  padding-top: 20px;
}
.vcard .content p:after {
  content: "";
  background: #2211EE88;
  height: 6px;
  width: 100%;
  /*POSITION*/
  position: absolute;
  top: 6px;
  left: 0;
}

@media screen and (min-width: 550px) {
  .vcard {
  width: 70%;}

 
